* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  border-top: 0.3vh solid #fb5d20;
}

body {
  background: linear-gradient(145deg, #ffffff, #f8f7ff, #eae8ff);
}
